<%- include('../partials/header') %>
<main class="main container">
        <section class="busqueda__content">
            <button class="busqueda__boton"> <img class="busqueda__boton-img" src="../../img/icons/search_icon.svg" alt="Lupa"></button>
            <input class="busqueda__box" type="text" placeholder="Buscar productos...">
        </section>
        <section class="listado-productos-membrete">
            <h1 class="listado-productos-titulo">LISTADO DE PRODUCTOS</h1>
            <label for="Add"><h3 class="listado-productos-subtitulo">AGREGAR</h3></label>
            <button class="listado-productos-add" id="Add"> <img src="../../img/icons/mdi_plus-box.png" alt="signo de suma para agregar"></button></td>
        </section>
        <section class="listado-productos-table">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Código</th>
                        <th>Nombre del Producto</th>
                        <th>Categoría</th>
                    </tr>
                </thead>
                <tbody> 
                    <% data.forEach( product => { %>                  
                        <tr>
                            <td><%= product.product_id %></td>
                            <td><%= product.sku %></td>
                            <td><%= product.product_name %></td>
                            <td><%= product.category_name %></td>
                            <td> <a class="Editar" href="/admin/edit/<%= product.product_id %>"><img class="Editar" src="../../img/icons/edit_pencil.svg" alt=""></a> </td>
                            <td> <a class="Borrar" href="/admin/edit/<%= product.product_id %>"><img class="Borrar" src="../../img/icons/delete_trash.svg" alt=""></a></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </section>
    </main>
    <%- include('../partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>
</html>
